#![enable(implicit_some)]
Config(
    keybinds: [
        Keybind(
            command: Execute("volume 2"),
            modifier: [],
            key: Key("XF86XK_AudioRaiseVolume"),
        ),
        Keybind(
            command: Execute("volume -2"),
            modifier: [],
            key: Key("XF86XK_AudioLowerVolume"),
        ),
        Keybind(
            command: Execute("volume mute"),
            modifier: [],
            key: Key("XF86XK_AudioMute"),
        ),
        Keybind(
            command: Execute("maim -suB | tee ~/Images/Screenshots/$(date +%s).png | xclip -t image/png -selection clipboard"),
            modifier: ["Mod4", "Shift"],
            key: Key("s"),
        ),
        Keybind(
            command: Execute("brightness 2"),
            modifier: [],
            key: Key("XF86XK_MonBrightnessUp"),
        ),
        Keybind(
            command: Execute("brightness -2"),
            modifier: [],
            key: Key("XF86XK_MonBrightnessDown"),
        ),
    ]
)
